[submodule "themes/codenamecore"]
	path = themes/codenamecore
	url = https://github.com/dplayz/codenamecore.git
[submodule "themes/codenamecore-linkportal"]
	path = themes/codenamecore-linkportal
	url = https://github.com/dplayz/codenamecore-linkportal
